{% extends "base.html" %}
{% block title %} Об авторе проекта {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mt-1 ">Привет, друг! Я - Александр</h3>
        <h4 class="text-center mb-4">(так получилось, что я творец этого сайта-Франкенштейна)</h4>
        <h5><a href="https://github.com/AlexanderZug" target="_blank">
          Мой гит-репозиторий.</a></h5>
        <h5><a href="https://iphras.ru/tsygankov.htm" target="_blank">
          Если хочешь больше узнать обо мне, то кликай на это предложение и переходи на мою страничку на основном
          месте работы.</a></h5>
      </div>
    </div>
  </div>
{% endblock %}
