{% extends "base.html" %}
{% block title %} Технологии {% endblock %}
{% block content %}
  <div class="row">
    <h1 class="text-success">Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Python</strong> <em>(надеюсь, что никто не будет проверять)</em>
        </li>
        <li class="list-group-item">
          <strong>Django</strong> <em>(но это явное преувеличение)</em>
        </li>
        <li class="list-group-item">
          <strong>Ходить на руках</strong> <em>(но только в случае острой необходимости)</em>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p class="text-decoration-line-through text-danger">Текст страницы "Технологии"</p>
    </article>
  </div>
{% endblock %}
